* {
        box-sizing: border-box;
}


html, a {
        font-family: 'Yanone Kaffeesatz', sans-serif;
        text-decoration: none;
        scroll-behavior: smooth;
}

.content {
        max-width: 1024px;
        margin: auto;
        padding-left: 10px;
        padding-right: 10px;
}



/* Главный фон */

.main_background {
        background: url(/image/background-hero.png);
        background-size: cover;
        background-position: center top;
        border-bottom: 5px solid #E89B2B;
}


/* Хэдер */

.header {
        padding-top: 10px;
        padding-bottom: 10px;
        top: 0px;
        background: linear-gradient(to right,  #121111 15%, transparent 95%);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

/* Навигация (логотип, ссылки)*/

.header__navigation {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: center;
}

.navigation_header__logo {
        display: flex;
        align-items: center;
        gap: 10px;
}


.header__logo {     
        font-weight: 700;
        font-size: 28px;
        color: #ffffff;  
}

.header__logo_text {     
        font-weight: 500;
        font-size: 22px;
        color: #B9B5BD;  
}

/* выравнивание ссылок */


.navigation {
        display: flex;
        gap: 30px;
}

/* Свойства ссылок*/

.header__link {     
        font-weight: 500;
        font-size: 22px;
        color: #ffffff;     
}

.header__link:hover {
        color: #E89B2B;
}



@media (max-width: 768px) { 
        .header__navigation {
                flex-wrap: wrap;     
        }
        .navigation {
                padding-top: 10px;
        }
        .header__link {     
                font-size: 18px;   
        }
}

@media (max-width: 420px) {
        .header__navigation {
                flex-wrap: wrap;      
        }
        .navigation {
                padding-top: 10px;
                gap: 10px;
        }
        .header__link {     
                font-weight: 400;
                font-size: 16px;   
        }
}

@media (max-width: 390px) {
        .header__navigation {
                flex-wrap: wrap;      
        }
        .navigation {
                padding-top: 10px;
                gap: 10px;
        }
        .header__link {     
                font-weight: 400;
                font-size: 14px;   
        }
}


/* Два контейнера (5 точек и заголовок сайта) */

.hero_size {
        width: 60%;
        background: rgb(64, 64, 67, 0.7) linear-gradient(to left,  #121111 20%, transparent 60%);
        padding-top: 150px;
        padding-bottom: 150px;
        display: flex;
}


/* 5 точек */

.point_container {
        width: 15%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 15px;
        padding-top: 80px;
}

.point {
        border: 1px solid #ffffff;
        border-radius: 50%;
        height: 10px;
        width: 10px;
}

.point_orange {
        border: 1px solid #ffffff;
        background-color: #E89B2B;
        border-radius: 50%;
        height: 10px;
        width: 10px;
}


/* Заголовок, описание */


.hero_title__H1 {
        font-weight: 700;
        font-size: 72px;
        color: #ffffff;
        width: 90%;
}

.hero_text_big {
        padding-top: 80px;
        padding-bottom: 70px;
        font-weight: 300;
        font-size: 30px;
        width: 80%;
        line-height: 140%;
        color: #ffffff;;
}

.hero__button {
        display: flex;
        gap: 0px;
}

.hero__button_white {
        width: 130px;
        padding: 8px;
        border: 1px solid #ffffff;
        background: none;
        color: #ffffff;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        transition: 500ms linear;
}

.hero__button_orange {
        width: 130px;
        padding: 8px;
        border: 1px solid #ffffff;
        background: none;
        color: #E89B2B;
        font-size: 16px;
        font-weight: 300;
        cursor: pointer;
        transition: 500ms linear;
}


.hero__button_white:hover {
        color: #E89B2B;
}

.hero__button_orange:hover {
        color: #ffffff;
}


.hero_title__H2 {
        font-weight: 600;
        font-size: 36px;
        color: #ffffff;
        width: 80%;
        padding-top: 100px;
        padding-bottom: 20px;
}

/*Специальное предложение (ссылка "Подробнее")*/

.hero__special_offer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
}

.hero_text_small {
        padding-top: 30px;
        padding-bottom: 100px;
        font-weight: 300;
        font-size: 22px;
        width: 60%;
        line-height: 130%;
        color: #ffffff;;
}

.special_offer__link {
        color: #E89B2B;
        font-weight: 300;
        font-size: 16px;
        cursor: pointer;
}

.special_offer__link:hover {
        color: #ffffff;
}



@media (max-width: 768px) {
        .hero_size {
                width: 100%;
        }       
}

@media (max-width: 420px) {
        .hero_size {
                width: 100%;
        }       
        .point_container {
                width: 25%;
        }
}

@media (max-width: 390px) {
        .hero_size {
                width: 100%;
        }       
        .point_container {
                width: 30%;
        }
        .hero__special_offer {
                display: flex;
                flex-direction: column;
        }
}



/* Направления (6 секций с 2 кнопками) */

.directions_background {
        background-color: #202021;
        width: 100%;
        padding-bottom: 30px;
}


/* Нахлёст текста */

.directions_title__dark {
        position:relative;
        font-weight: 700;
        font-size: 80px;
        text-align: left;
        color: rgba(255, 255, 255, 0.14);
        padding-left: 100px;
        padding-top: 100px;
        padding-bottom: 70px;
}


.directions_title__white {
        position: absolute;
        font-weight: 700;
        font-size: 40px;
        text-align: left;
        color: #ffffff;
        top: 140px;
        left: 130px;
}


@media (max-width: 420px) {
        .directions_title__dark {
                font-weight: 600;
                font-size: 60px;
        }
        .directions_title__white {
                font-weight: 600;
                font-size: 30px;
        }
}

@media (max-width: 390px) {
        .directions_title__dark {
                font-weight: 600;
                font-size: 60px;
        }
        .directions_title__white {
                font-weight: 600;
                font-size: 30px;
        }
}


/* Модульная сетка */

.directions__modular_grid {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: calc(100%-30px*2/3);
        margin-bottom: 30px;
}


.directions__block-1 {
        background: url(/image/dance-mix.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions__block-2 {
        background: url(/image/for-kids.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions__block-3 {
        background: url(/image/car-mix.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions__block-4 {
        background: url(/image/pole-dance.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions__block-5 {
        background: url(/image/Sky-Jumping.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions__block-6 {
        background: url(/image/hip-hop.png);
        width: 380px;
        height: 450px;
        background-size: cover;
        background-position: center top;
}

.directions_text {
        margin-top: 330px;
        margin-right: 200px;
        padding: 10px 0px 0px 5px;
        color: #ffffff;
        font-size: 24px;
        font-weight: 500;
        background-color: #202021;
}


.directions__button {
        display: flex;
        gap: 30px;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 7px solid #202021;
        background-color: #404043af;
}


.directions__button_orange {
        width: 120px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 5px;
        margin-left: 20px;
        background-color: #E89B2B;
        cursor: pointer;
        border: none;
}

.directions__button_orange:hover {
        color: #E89B2B;
        background-color: #ffffff;
}


.directions__button_white {
        width: 120px;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
        padding: 5px;
        background: none;
        cursor: pointer;
        border: 2px solid #ffffff;
}

.directions__button_white:hover {
        color: #E89B2B;
}

@media (max-width: 768px) {       
        .directions__modular_grid {
                flex-direction: column;
                align-items: center;
        }
        .directions__block-1 {
                width: 70%;
        }
        .directions__block-2 {
                width: 70%;
        }
        .directions__block-3 {
                width: 70%;
        }
        .directions__block-4 {
                width: 70%;
        }
        .directions__block-5 {
                width: 70%;
        }
        .directions__block-6 {
                width: 70%;
        }
        .directions_text {
                margin-right: 400px;
        }       
        /* .directions__button {
                display: flex;
                gap: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                border-top: 7px solid #202021;
                background-color: #404043af;
        } */
}


@media (max-width: 420px) {       
        .directions__modular_grid {
                flex-direction: column;
        }
        .directions__block-1 {
                width: 100%;
        }
        .directions__block-2 {
                width: 100%;
        }
        .directions__block-3 {
                width: 100%;
        }
        .directions__block-4 {
                width: 100%;
        }
        .directions__block-5 {
                width: 100%;
        }
        .directions__block-6 {
                width: 100%;
        }
}

@media (max-width: 390px) {        
        .directions__modular_grid {
                flex-direction: column;
        }
        .directions__block-1 {
                width: 100%;
        }
        .directions__block-2 {
                width: 100%;
        }
        .directions__block-3 {
                width: 100%;
        }
        .directions__block-4 {
                width: 100%;
        }
        .directions__block-5 {
                width: 100%;
        }
        .directions__block-6 {
                width: 100%;
        }
}


/* Наши студии. 3 блока на фоне стены */


.studios_background {
        background: url(/image/background.png);
        background-size: cover;
        background-position: center top;
        padding-top: 100px;
        padding-bottom: 100px;
}

.studios__modular_grid {
        display: flex;
        flex-direction: row;
        gap: 15px;
        width: calc(100%-15px*2/3);
}

.studios {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 20px;
        border: none;
        background-color: rgba(16, 16, 16, 0.7);
        padding: 20px;
        width: 100%;
        color: #ffffff;
        font-size: 30px;
        font-weight: 500;
}

.studios_text_orange {
        color: #E89B2B;
        font-weight: 300;
        font-size: 26px;
        padding-top: 20px;
        padding-bottom: 20px;
}


.studios_icon__position {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        gap: 10px;
        padding-top: 20px;
}

.studios_icon {
        width: 25px;
        height: 25px;
}

.studios_icon__text {
        font-weight: 400;
        font-size: 26px;
        padding-top: 20px;
}



@media (max-width: 768px) {
        .studios__modular_grid {
                flex-direction: column;
                width: 100%;
        
}
}

@media (max-width: 420px) {
        .studios__modular_grid {
                flex-direction: column;
                width: 100%;
        
}
}

@media (max-width: 390px) {
        .studios__modular_grid {
                flex-direction: column;
                width: 100%;   
}
}



/* Абонементы  */


.passes_background {
        background-color: #202021;
        width: 100%;
        padding-bottom: 30px;
        border-bottom: 5px solid #E89B2B;
}


.passes_background__image {
        background: url(/image/background-passes.png);
        background-position: top center;
        background-size: cover;
        border-bottom: 5px solid #E89B2B;
}


.passes_background__text {
        font-weight: 600;
        font-size: 48px;
        color: #ffffff;
        width: 80%;
        padding: 30px 0px 40px 70px;
}


.passe__button {
        width: 140px;
        font-size: 16px;
        font-weight: 600;
        color: white;
        padding: 10px;
        margin: 0px 0px 20px 70px;
        background-color: #E89B2B;
        cursor: pointer;
        border: none;
}

.passe__button:hover {
        color: #E89B2B;
        background-color: #ffffff;
}



/* Футер (модульные сетки)*/


.footer {
    background: url(/image/background-footer.png);
    background-size: cover;
    background-position: center top;
    padding-top: 50px;
    padding-bottom: 50px;
}


.footer__modular_grid {
        display: flex;
        flex-direction: row;
        gap: 180px;
}


.modular_grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
}

.modular_grid__logo {
        display: flex;
        align-items: center;
        gap: 7px;
}


.modular_grid__column {
        display: flex;
        flex-direction: column;
        gap: 7px;
}


.footer__link {
        font-weight: 400;
        font-size: 22px;
        color: #B9B5BD;
}

.footer__link:hover {
        color: #E89B2B;
}


.modular_grid__right {
        display: flex;
        flex-direction: row;
        gap: 50px;
}


.footer_text__contacts {
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
}

.footer_text__address {
        font-weight: 500;
        font-size: 26px;
        color: #ffffff;
}

.footer__social_media {
        font-size: 32px;
        font-weight: 300;
        color: #ffffff;
}


.footer_text__phone {
        font-weight: 300;
        font-size: 26px;
        color: #ffffff;
}


/* Кнопка ВВЕРХ */

.scroll_up {
     font-size: 50px;
     color: #e89c2b;
     position: fixed;
     right: 30px;
     bottom: 30px;
}

@media (max-width: 600px) {      
        .footer__modular_grid {
                flex-direction: column;
                gap: 30px;
        }
        .footer_section-1 {
                width: 100%;
                font-size: 14px;
        }
        .footer_section-2 {
                width: 100%;
        }
        .footer_section-3 {
                width: 100%;
                gap: 20px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}

@media (max-width: 420px) { 
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}

@media (max-width: 390px) { 
        .footer_section-1 {
                font-size: 16px;
                
        }
        .footer_license {
                font-size: 14px;
        }
        .scroll_up {
                font-size: 40px; 
        }
}